@CHARSET "UTF-8";

#header{
	margin: 0 auto;
	border: 1px solid gray;
	background: gray;
	width: 60%;
}

img {
	width: 50%;
	padding: 0% 25%;
}

#title {
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: olive;
	width: 60%;
	height: 24px;
	border: 1px solid gray;
	margin: 0 auto;
	padding-top: 9px;
}

#title p {
	padding-left: 20px;
}

#load {
	margin: 0 auto;
	background: olive;
	width: 60%;
	height: 14px;
	border: 1px solid olive;
}

.title {
	font-family: sans-serif;
	font-size: 14px;
	float: left;
}

#player-list {
	width: 60%;
	margin: auto;
}

/*#play-title {
	float: right;
}*/

ul {
	width: 100%;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

li {
	padding: 15px 15px 25px 15px;
	border-bottom: 1px solid gray;
}

#nav {	
	width: 60%;
	margin: 0px auto;
	padding: 15px 0px 25px 0px;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#left {
	width: 32.5%;	
	display: inline-block;
	text-align: center;
	float: left;
}

#center {
	width: 33%;	
	display: inline-block;
	text-align: center;
	float: left;
}

#right {
	width: 32.5%;	
	display: inline-block;
	text-align: center;
	float: left;
}

#nav-el {
	padding: 55px;
}